<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gestor Aire Temuco</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: oasis.ceisufro.cl:*; script-src 'unsafe-inline' https: oasis.ceisufro.cl:*; connect-src https: oasis.ceisufro.cl:* localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <script type="systemjs-importmap">
    {
      "imports": {
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js",
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.8.2/lib/system/single-spa.min.js",
        "rxjs": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs@6.6.3/system/es2015/rxjs.min.js",
        "rxjs/operators": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs@6.6.3/system/es2015/rxjs-operators.min.js"
        }
    }
  </script>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@react-mf/root-config": "//oasis.ceisufro.cl/react-mf-root-config.js",
        "@react-mf/navbar": "//oasis.ceisufro.cl:9002/react-mf-navbar.js",
        "@react-mf/styleguide": "//oasis.ceisufro.cl:9003/react-mf-styleguide.js",
        "@react-mf/visualizador-calidad-aire": "//oasis.ceisufro.cl:9006/react-mf-visualizador-calidad-aire.js",
        "@react-mf/visualizador-restriccion": "//oasis.ceisufro.cl:9007/react-mf-visualizador-restriccion.js",
        "@react-mf/turismo": "//oasis.ceisufro.cl:9008/react-mf-turismo.js",
        "@react-mf/ambientes-cerrados": "//oasis.ceisufro.cl:9009/react-mf-ambientes-cerrados.js",
        "@react-mf/ambientes-abiertos": "//oasis.ceisufro.cl:9010/react-mf-ambientes-abiertos.js",
        "@react-mf/deportes": "//oasis.ceisufro.cl:9011/react-mf-deportes.js",
        "@react-mf/entretenimiento": "//oasis.ceisufro.cl:9012/react-mf-entretenimiento.js",
        "@react-mf/entretenimiento-familiar": "//oasis.ceisufro.cl:9013/react-mf-entretenimiento-familiar.js",
        "@react-mf/entretenimiento-tercera-edad": "//oasis.ceisufro.cl:9014/react-mf-entretenimiento-tercera-edad.js",
        "@react-mf/entretenimiento-adulto": "//oasis.ceisufro.cl:9015/react-mf-entretenimiento-adulto.js"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <template id="single-spa-layout">
    <single-spa-router>
      <nav class="topnav">
        <application name="@react-mf/navbar" loader="topNav" error="topNav"></application>
      </nav>
      <div class="main-content mt-16">
        <route path="visualizador_calidad_aire">
          <application name="@react-mf/visualizador-calidad-aire"></application>
        </route>
        <route path="visualizador_restriccion">
          <application name="@react-mf/visualizador-restriccion"></application>
        </route>
        <route path="turismo">
          <application name="@react-mf/turismo"></application>
        </route>
        <route path="ambientes_cerrados">
          <application name="@react-mf/ambientes-cerrados"></application>
        </route>
        <route path="ambientes_abiertos">
          <application name="@react-mf/ambientes-abiertos"></application>
        </route>
        <route path="deportes">
          <application name="@react-mf/deportes"></application>
        </route>
        <route path="entretenimiento">
          <application name="@react-mf/entretenimiento"></application>
        </route>
        <route path="entretenimiento_familiar">
          <application name="@react-mf/entretenimiento-familiar"></application>
        </route>
        <route path="entretenimiento_tercera_edad">
          <application name="@react-mf/entretenimiento-tercera-edad"></application>
        </route>
        <route path="entretenimiento_adulto">
          <application name="@react-mf/entretenimiento-adulto"></application>
        </route>
        <route default>
          <h1 class="flex flex-row justify-center p-16">
            <p class="max-w-md">Gestor Aire Temuco.</p>
          </h1>
        </route>
      </div>
    </single-spa-router>
  </template>
</head>
<body>
  <script>
    System.import('@react-mf/root-config');
    System.import('@react-mf/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
